.title {
  left: 52px;
  top: 249px;
  width: 67px;
  height: 558px;
}

.example {
  left: 158px;
  top: 77px;
  width: 592px;
  height: 760px;
}

.demo {
  left: 157px;
  top: 531px;
  width: 324px;
  height: 423px;
}

.intro {
  position: absolute;
  left: 158px;
  top: 960px;
  width: 540px;
  height: 370px;
}

.hua {
  left: 348px;
  top: -98px;
  width: 410px;
  height: 227px;
}
