.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .progress {
    width: 245px;
    height: 12px;
    background: #ac8b3c;
    border-radius: 6px;
    overflow: hidden;
    div {
      background: #f2ddab;
      height: 100%;
    }
  }

  .counter {
    margin-top: 10px;
    text-align: center;

    font-family: Alimama ShuHeiTi;
    font-size: 22px;
    font-weight: 900;
    line-height: 42px;
    color: #f2ddab;
  }
}
