.title {
  left: 630px;
  top: 209px;
  width: 62px;
  height: 560px;
}

.example {
  left: 0px;
  top: 83px;
  width: 569px;
  height: 749px;
}

.demo {
  left: 276px;
  top: 593px;
  width: 291px;
  height: 295px;
}

.intro {
  left: 66px;
  top: 923px;
  width: 501px;
  height: 338px;
}

.hua {
  left: 375px;
  top: 1094px;
  width: 375px;
  height: 240px;
}
