.mask {
  position: fixed;
  inset: 0;
  z-index: 100;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #fff, $alpha: 0.8);

  .body {
    width: 706px;
    height: 1208px;
    background: url("./assets/bg.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info {
    .tip {
      font-family: "Source Han Serif CN";
      font-size: 28px;
      line-height: 42px;
      letter-spacing: 0.1em;
      font-variation-settings: "opsz" auto;
      color: #3d3d3d;
      margin-top: 120px;
    }
    .image {
      margin-top: 50px;
      width: 500px;
      height: 500px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .pager {
      margin-top: 18px;
      display: flex;
      gap: 8px;
      .item {
        width: 20px;
        height: 20px;
        background: #b1a295;
        border-radius: 10px;
        &.active {
          background: #4d2914;
        }
      }
    }

    .title {
      margin-top: 34px;
      font-family: "Source Han Serif CN";
      font-size: 46px;
      text-align: center;
      letter-spacing: 0.12em;
      font-variation-settings: "opsz" auto;
      color: #3d3d3d;
    }
    .intro {
      margin-top: 8px;
      font-family: Source Han Serif CN;
      font-size: 24px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.1em;
      font-variation-settings: "opsz" auto;
      color: #3d3d3d;
      p {
        margin: 0;
      }
    }
    .button {
      margin-top: 66px;
      width: 343px;
      height: 70px;
      border-radius: 35px;
      background: rgba(185, 113, 71, 0.83);
      display: flex;
      align-items: center;
      justify-content: center;

      font-family: "Heiti SC";
      font-size: 28px;
      letter-spacing: 0.1em;
      font-variation-settings: "opsz" auto;
      color: #ffffff;
    }
  }
}
