.title {
  left: 66px;
  top: 206px;
  width: 56px;
  height: 654px;
}

.example {
  left: 177px;
  top: 128px;
  width: 573px;
  height: 749px;
  transform-origin: right center;
}

.demo {
  left: 235px;
  top: 581px;
  width: 209px;
  height: 368px;
}

.intro {
  left: 223px;
  top: 1014px;
  width: 465px;
  height: 253px;
}

.hua {
  left: 0px;
  top: 934px;
  width: 414px;
  height: 283px;
}
