.title {
  left: 637px;
  top: 162px;
  width: 57px;
  height: 600px;
}

.example {
  left: 0px;
  top: 83px;
  width: 569px;
  height: 749px;
  transform-origin: left center;
}

.demo {
  left: 288px;
  top: 571px;
  width: 289px;
  height: 459px;
}

.intro {
  left: 44px;
  top: 970px;
  width: 515px;
  height: 323px;
}

.hua {
  left: 285px;
  top: 923px;
  width: 463px;
  height: 232px;
}
