html {
  font-size: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-size-adjust: 100%;
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  transform: translate3d(0, 0, 0);
  user-select: none;
  perspective: 1000px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}
* {
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
