.button {
  position: fixed;
  z-index: 199;
  right: 34px;
  top: 34px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 30px;
    height: 30px;
  }
}
