.button {
  position: fixed;
  left: 50px;
  top: 35px;
  width: 48px;
  height: 48px;
  z-index: 999;

  &.open {
    background: url("./assets/open.png?inline") no-repeat;
    background-size: cover;
  }

  &.close {
    background: url("./assets/close.png?inline") no-repeat;
    background-size: cover;
  }
}
