.title {
  left: 54px;
  top: 250px;
  width: 66px;
  height: 528px;
}

.example {
  position: absolute;
  left: 179px;
  top: 63px;
  width: 571px;
  height: 764px;
  transform-origin: right center;
}

.demo {
  left: 237px;
  top: 610px;
  width: 209px;
  height: 324px;
}

.intro {
  left: 120px;
  top: 945px;
  width: 590px;
  height: 320px;
}
