.title {
  left: 653px;
  top: 232px;
  width: 61px;
  height: 541px;
}

.example {
  left: 0px;
  top: 147px;
  width: 592px;
  height: 749px;
  transform-origin: left center;
}

.demo {
  left: 321px;
  top: 555px;
  width: 194px;
  height: 372px;
}

.intro {
  left: 86px;
  top: 1000px;
  width: 560px;
  height: 248px;
}
